{% extends 'base.html' %}
{% load static %}

{% block title %}
Discussion Board
{% endblock title %}

{% block content %}
<!-- Discussion board layout taken from bootdey.com, changed the code to fit the discussion board page on the platform -->
<!-- Reference: https://www.bootdey.com/snippets/view/Forum-post-list#html -->

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="wrapper">
                <div class="ibox-content m-b-sm border-bottom">
                    <div class="p-xs">
                        <br>
                        <h3 class="display-5 font-weight-bold text-center"> Student Network Discussion Forum </h3>
                    </div>
                </div>
                <div class="ibox-content forum-container">
                    <div class="forum-title">
                        <div class="pull-right forum-desc">
                            <samll>Total posts: 903</samll>
                        </div>
                        <h3>All Topics</h3>
                    </div>
                    <div class="forum-item active">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <i class="fa fa-star"></i>
                                </div>
                                <a href="forum_post.html" class="forum-item-title">Agriculture, Animals & Food</a>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    702
                                </span>
                                <div>
                                    <small>Views</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    4
                                </span>
                                <div>
                                    <small>Topics</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    140
                                </span>
                                <div>
                                    <small>Posts</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="forum-item">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <i class="fa fa-star"></i>
                                </div>
                                <a href="forum_post.html" class="forum-item-title">STEM, Environment & Construction</a>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    890
                                </span>
                                <div>
                                    <small>Views</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    7
                                </span>
                                <div>
                                    <small>Topics</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    154
                                </span>
                                <div>
                                    <small>Posts</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="forum-item active">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <i class="fa fa-star"></i>
                                </div>
                                <a href="forum_post.html" class="forum-item-title">Healthcare, Wellbeing & Sport</a>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    680
                                </span>
                                <div>
                                    <small>Views</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    3
                                </span>
                                <div>
                                    <small>Topics</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    61
                                </span>
                                <div>
                                    <small>Posts</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="forum-item">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <i class="fa fa-star"></i>
                                </div>
                                <a href="forum_post.html" class="forum-item-title">Creative Arts, Fashion & Media</a>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    349
                                </span>
                                <div>
                                    <small>Views</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    4
                                </span>
                                <div>
                                    <small>Topics</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    27
                                </span>
                                <div>
                                    <small>Posts</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="forum-item">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <i class="fa fa-star"></i>
                                </div>
                                <a href="forum_post.html" class="forum-item-title">Government, Law & Education</a>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                538
                                </span>
                                <div>
                                    <small>Views</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    6
                                </span>
                                <div>
                                    <small>Topics</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    94
                                </span>
                                <div>
                                    <small>Posts</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="forum-item">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <i class="fa fa-star"></i>
                                </div>
                                <a href="forum_post.html" class="forum-item-title">Accountancy, Finance & Insurance</a>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    697
                                </span>
                                <div>
                                    <small>Views</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    3
                                </span>
                                <div>
                                    <small>Topics</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    278
                                </span>
                                <div>
                                    <small>Posts</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="forum-item">
                        <div class="row">
                            <div class="col-md-9">
                                <div class="forum-icon">
                                    <i class="fa fa-star"></i>
                                </div>
                                <a href="forum_post.html" class="forum-item-title">Business, Sales & Tourism</a>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    700
                                </span>
                                <div>
                                    <small>Views</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    6
                                </span>
                                <div>
                                    <small>Topics</small>
                                </div>
                            </div>
                            <div class="col-md-1 forum-info">
                                <span class="views-number">
                                    149
                                </span>
                                <div>
                                    <small>Posts</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}

<!-- Script to return message in Console when a document has loaded correctly -->
<script>
$(document).ready(function(){
    console.log('Page has loaded correctly')
})
</script>

{% endblock scripts %}
