{% extends 'base.html' %}
{% load static %}

{% block title %}
FAQ
{% endblock title %}

{% block content %}
<!-- FAQ Container-->
<div class="container-fluid">
    <div class="row faq text-center">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <h2 class="h2w"> Frequently Asked Questions </h2>
        </div>  
    </div>
    </div>
    <hr>
    
    <!-- About Us Container 1 -->
    <!-- Split into md-6 for writing on one side of the page and image on the other -->
    <div class="container">
        <div class="row picgap">
            <div class="col-md-6">
                <p> 1) </p>
                <p> 1) </p>
                <p> 2) </p>
                <p> 2) </p>
                <p> 3) </p>
                <p> 3) </p>
            </div>
            <div class="col-md-6">
                <img src="{% static 'images/about1.jpeg' %}" class="img-fluid">
            </div>
        </div>
    </div>
    
    <!-- About Us Container 2 -->
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="{% static 'images/about2.jpeg' %}" class="img-fluid">
            </div>
            <div class="col-md-6">
                <p> 4) </p>
                <p> 4) </p>
                <p> 5) </p>
                <p> 5) </p>
                <p> 6) </p>
                <p> 6) </p>
            </div>
        </div>
    </div>
</div>
<hr>

<!-- Footer -->
<footer class="bg-light text-dark pt-5 pb-4">
    <div class="container text-center text-md-left">
        <div class="row text-center text-md-left">
            <!-- Column One -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold text-info"> Commited to Students</h6>
                <hr class="mb-4">
                <p> We at Student Network are fully committed to providing the best possible 
                service to students around Ireland.</p>
            </div>
            <!-- Column Two -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold text-info"> About Us </h6>
                <hr class="mb-4">
                <p>
                    <a href="/aboutus" class="text-dark"> About Us </a>
                </p>
                <p>
                    <a href="/legal" class="text-dark"> Legal </a>
                </p>
                <p>
                    <a href="/faqs" class="text-dark"> FAQ's </a>
                </p>
            </div>
            <!-- Column Three -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold text-info"> Helpful Links </h6>
                <hr class="mb-4">
                <p>
                    <a href="/login" class="text-dark"> Login </a>
                </p>
                <p>
                    <a href="/register" class="text-dark"> Register </a>
                </p>
                <p>
                    <a href="/apply" class="text-dark"> Apply as a Tutor </a>
                </p>
            </div>
            <!-- Column Four -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold text-info"> Contact </h6>
                <hr class="mb-4">
                <p>
                    <a href="/contactus" class="text-dark"> Contact Us </a>
                </p>
                <p>
                    <i class="fas fa-home mr-3"> </i> DCU
                </p>
                <p>
                    <i class="fas fa-envelope mr-3"> </i> studentnetwork.ire@gmail.com
                </p>
            </div>
        </div>
    </div>
    <hr class="mb-4">
    <!-- Copyright -->
    <div class="text-center p-2" >
        © 2021 Copyright:
        <a class="text-dark" href=""> Student Network </a>
    </div>
</footer>

{% endblock content %}

{% block scripts %}

<!-- Script to return message in Console when a document has loaded correctly -->
<script>
$(document).ready(function(){
    console.log('Page has loaded correctly')
})
</script>

{% endblock scripts %}