{% extends 'base.html' %}
{% load static %}

{% block title %}
Legal
{% endblock title %}

{% block content %}
<!-- Legal Container-->
<div class="container-fluid">
    <div class="row legal text-center">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <h2 class="h2w"> Legal Information </h2>
        </div>  
    </div>
    </div>
</div>

<!-- Legal Information Card with Different Navigation Headings -->
<div class="card">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs" id="legal-list" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="#UserAgreement" role="tab" aria-controls="UserAgreement" aria-selected="true"> User Agreement </a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  href="#PrivacyPolicy" role="tab" aria-controls="PrivacyPolicy" aria-selected="false"> Privacy Policy </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#CookiePolicy" role="tab" aria-controls="CookiePolicy" aria-selected="false"> Cookie Policy </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#CopyrightPolicy" role="tab" aria-controls="CopyrightPolicy" aria-selected="false"> Copyright Policy </a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content mt-3">
            <div class="tab-pane active" id="UserAgreement" role="tabpanel">
                <h3 class="card-title"> User Agreement </h4>
                <h7 class="card-subtitle mb-2"> last updated: February 10th 2021 </h7>
                <hr>
                <h4> 1. Introduction </h4>
                <h5> 1.1 Contract </h5>
                <p class="card-text"> Fill with content </p>
                <h5> 1.2 Members and Visitors </h5>
                <p class="card-text"> Fill with content </p>
                <h5> 1.3 Change </h5>
                <p class="card-text"> Fill with content </p>
                <hr>
                <h4> 2. Obligations </h4>
                <h5> 2.1 Service Eligibility </h5>
                <p class="card-text"> Fill with content </p>
                <h5> 2.2 Your Account </h5>
                <p class="card-text"> Fill with content </p>
                <h5> 2.3 Payment </h5>
                <p class="card-text"> Fill with content </p>
                <h5> 2.4 Notices and Messages </h5>
                <p class="card-text"> Fill with content </p>
                <h5> 2.5 Sharing </h5>
                <p class="card-text"> Fill with content </p>
                <hr>
                <h4> 3. Rights and Limits </h4>
                <h5> 3.1 Your License to Student Network </h5>
                <p class="card-text"> Fill with content </p>
                <h5> 3.2 Service Availability </h5>
                <p class="card-text"> Fill with content </p>
                <h5> 3.3 Other Content, Sites and Apps </h5>
                <p class="card-text"> Fill with content </p>
                <h5> 3.4 Limits </h5>
                <p class="card-text"> Fill with content </p>
                <h5> 3.5 Intellectual Property Rights </h5>
                <p class="card-text"> Fill with content </p>
                <h5> 3.6 Automated Processing </h5>
                <p class="card-text"> Fill with content </p>
                <hr>
                <h4> 4. Disclaimer and Limit of Liability </h4>
                <h5> 4.1 No Warranty </h5>
                <p class="card-text"> Fill with content </p>
                <h5> 4.2 Exclusion of Liability </h5>
                <p class="card-text"> Fill with content </p>
                <h5> 4.3 Basis of the Bargain; Exclusions </h5>
                <p class="card-text"> Fill with content </p>
                <hr>
                <h4> 5. Termination </h4>
                <p class="card-text"> Fill with content </p>
                <hr>
                <h4> 6. Governing Law and Dispute Resolution </h4>
                <p class="card-text"> Fill with content </p>
                <hr>
                <h4> 7. General Terms </h4>
                <p class="card-text"> Fill with content </p>
                <hr>
                <h4> 8. Student Network "Dos and Don'ts" </h4>
                <p class="card-text"> Fill with content </p>
                <hr>
                <h4> 9. Complaints Regarding Content </h4>
                <p class="card-text"> Fill with content </p>
                <hr>
                <h4> 10. How To Contact Us </h4>
                <p class="card-text"> For general inquiries, you can contact us online by filling out the form on our contact page. </p>
                <a href="/contactus" class="btn btn-primary"> Contact Us </a>
            </div> 
            <div class="tab-pane" id="PrivacyPolicy" role="tabpanel" aria-labelledby="PrivacyPolicy-tab">  
                <h3 class="card-title"> Privacy Policy </h4>
                <h7 class="card-subtitle mb-2"> last updated: February 10th 2021 </h7>
                <hr>
                <h4> Introduction </h4>
                <p class="card-text"> Fill with content </p>
                <h5> Services </h5>
                <p class="card-text"> Fill with content </p>
                <h5> Data Controllers and Contracting Parties </h5>
                <p class="card-text"> Fill with content </p>
                <h5> Change </h5>
                <p class="card-text"> Fill with content </p>
                <hr>
                <h4> 1. Data We Collect </h4>
                <h5> 1.1 Data You Provide to Us </h5>
                <p class="card-text"> Fill with content </p>
                <h5> 1.2 Data From Others </h5>
                <p class="card-text"> Fill with content </p>
                <h5> 1.3 Service Use </h5>
                <p class="card-text"> Fill with content </p>
                <h5> 1.4 Cookies and Similar Technologies </h5>
                <p class="card-text"> Fill with content </p>
                <h5> 1.5 Your Device and Location </h5>
                <p class="card-text"> Fill with content </p>
                <h5> 1.6 Messages </h5>
                <p class="card-text"> Fill with content </p>
                <h5> 1.7 University / College Provided Information </h5>
                <p class="card-text"> Fill with content </p>
                <h5> 1.8 Sites and Services of Others </h5>
                <p class="card-text"> Fill with content </p>
                <h5> 1.9 Other </h5>
                <p class="card-text"> Fill with content </p>
                <hr>
                <h4> 2. How We Use Your Data </h4>
                <p class="card-text"> Fill with content </p>
                <h5> 2.1 Services </h5>
                <p class="card-text"> Fill with content </p>
                <h5> 2.2 Paid Services </h5>
                <p class="card-text"> Fill with content </p>
                <h5> 2.3 Communications </h5>
                <p class="card-text"> Fill with content </p>
                <h5> 2.4 Advertising </h5>
                <p class="card-text"> Fill with content </p>
                <h5> 2.5 Marketing </h5>
                <p class="card-text"> Fill with content </p>
                <h5> 2.6 Developing Services and Research </h5>
                <p class="card-text"> Fill with content </p>
                <h5> 2.7 Customer Support </h5>
                <p class="card-text"> Fill with content </p>
                <h5> 2.8 Insights That Do Not Identify You </h5>
                <p class="card-text"> Fill with content </p>
                <h5> 2.9 Security and Investigations </h5>
                <p class="card-text"> Fill with content </p>
                <hr>
                <h4> 3. How We Share Information </h4>
                <h5> 3.1 Our Services </h5>
                <p class="card-text"> Fill with content </p>
                <h5> 3.2 Communication Archival </h5>
                <p class="card-text"> Fill with content </p>
                <h5> 3.3 Others' Services </h5>
                <p class="card-text"> Fill with content </p>
                <h5> 3.4 Related Services </h5>
                <p class="card-text"> Fill with content </p>
                <h5> 3.5 Service Providers </h5>
                <p class="card-text"> Fill with content </p>
                <h5> 3.6 Legal Disclosures </h5>
                <p class="card-text"> Fill with content </p>
                <h5> 3.7 Change in Control or Sale </h5>
                <p class="card-text"> Fill with content </p>
                <hr>
                <h4> 4. Your Choices and Obligations </h4>
                <h5> 4.1 Data Retention </h5>
                <p class="card-text"> Fill with content </p>
                <h5> 4.2 Rights to Access and Control Your Personal Data </h5>
                <p class="card-text"> Fill with content </p>
                <h5> 4.3 Account Closure </h5>
                <p class="card-text"> Fill with content </p>
                <hr>
                <h4> 5. Other Important Information </h4>
                <h5> 5.1 Security </h5>
                <p class="card-text"> Fill with content </p>
                <h5> 5.2 Cross-Border Data Transfers </h5>
                <p class="card-text"> Fill with content </p>
                <h5> 5.3 Lawful Bases for Processing </h5>
                <p class="card-text"> Fill with content </p>
                <h5> 5.4 Direct Marketing and Do Not Track Signals </h5>
                <p class="card-text"> Fill with content </p>
                <h5> 5.5 Contact Information </h5>
                <p class="card-text"> For general inquiries, you can contact us online by filling out the form on our contact page. </p>
                <a href="/contactus" class="btn btn-primary"> Contact Us </a>
            </div>
            <div class="tab-pane" id="CookiePolicy" role="tabpanel" aria-labelledby="CookiePolicy-tab">
                <h3 class="card-title"> Cookie Policy </h4>
                <h7 class="card-subtitle mb-2"> last updated: February 10th 2021 </h7>
                <hr>
                <p class="card-text"> Fill with content </p>
            </div>
            <div class="tab-pane" id="CopyrightPolicy" role="tabpanel" aria-labelledby="CopyrightPolicy-tab">
                <h3 class="card-title"> Copyright Policy </h4>
                <h7 class="card-subtitle mb-2"> last updated: February 10th 2021 </h7>
                <hr>
                <p class="card-text"> Fill with content </p>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="bg-light text-dark pt-5 pb-4">
    <div class="container text-center text-md-left">
        <div class="row text-center text-md-left">
            <!-- Column One -->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold text-info"> Commited to Students</h6>
                <hr class="mb-4">
                <p> We at Student Network are fully committed to providing the best possible 
                service to students around Ireland.</p>
            </div>
            <!-- Column Two -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold text-info"> About Us </h6>
                <hr class="mb-4">
                <p>
                    <a href="/aboutus" class="text-dark"> About Us </a>
                </p>
                <p>
                    <a href="/legal" class="text-dark"> Legal </a>
                </p>
                <p>
                    <a href="/faqs" class="text-dark"> FAQ's </a>
                </p>
            </div>
            <!-- Column Three -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold text-info"> Helpful Links </h6>
                <hr class="mb-4">
                <p>
                    <a href="/login" class="text-dark"> Login </a>
                </p>
                <p>
                    <a href="/register" class="text-dark"> Register </a>
                </p>
                <p>
                    <a href="/apply" class="text-dark"> Apply as a Tutor </a>
                </p>
            </div>
            <!-- Column Four -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold text-info"> Contact </h6>
                <hr class="mb-4">
                <p>
                    <a href="/contactus" class="text-dark"> Contact Us </a>
                </p>
                <p>
                    <i class="fas fa-home mr-3"> </i> DCU
                </p>
                <p>
                    <i class="fas fa-envelope mr-3"> </i> studentnetwork.ire@gmail.com
                </p>
            </div>
        </div>
    </div>
    <hr class="mb-4">
    <!-- Copyright -->
    <div class="text-center p-2" >
        © 2021 Copyright:
        <a class="text-dark" href=""> Student Network </a>
    </div>
</footer>
{% endblock content %}

{% block scripts %}
<!-- Script to navigate across different legal card pages -->
<script>
$('#legal-list a').on('click', function (e) {
    e.preventDefault()
    $(this).tab('show')
})
</script>

<!-- Script to return message in Console when a document has loaded correctly -->
<script>
$(document).ready(function(){
    console.log('Page has loaded correctly')
})
</script>

{% endblock scripts %}