{% extends 'base.html' %}
{% load static %}

{% block title %}
Tutoring
{% endblock title %}

{% block content %}
<div class="container py-4">
    <header class="text-center">
        <h1 class="display-6 font-weight-bold"> Tutor Listings </h1>
        <p class="font-italic text-muted mb-0"> All the listings for our available tutors are shown below. </p>
        <p class="font-italic text-muted mb-0"> Feel free to reach out to them directly! </p>
    </header>
</div>
<div class="tutor-listings">
    <div class="container py-4">
        <div class="container">
            <div class="row">
                {% for profile in profiles %}
                    {% if profile.account_type == 'Tutor' %}
                        <div class="col-md-4">
                            <div class="card shadow-lg p-3 mb-5 bg-white rounded tutor-card">
                                <img src={{profile.profile_picture.url}} alt="" class="rounded-circle img-profile" width="100" height="100">
                                <div class="card-block">
                                    <h4 class="card-title text-center">{{ profile.first_name }} {{ profile.last_name }}</h4>
                                    <h6 class="card-subtitle text-center"> ({{ profile.user }}) </h6>
                                    <hr>
                                    <p class="card-text text-center"> {{ profile.topics }} </p>
                                    <p class="card-text text-center"> {{ profile.hourly_rate }} per hour </p>
                                    <a href={{profile.URL}} <button class="btn btn-dark btn-block viewbtn"> View Profile </button> </a>
                                    <button type="button" class="btn btn-info btn-block viewbtn" id="checkout_button"> Book Session </button>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!-- Stripe Checkout Button -->
<button type="button" class="btn btn-primary" id="checkout_button"> Checkout </button>

<!-- Stripe Checkout Session Script -->
<script>
    var stripe = Stripe('{{ stripe_public_key }}')
    const checkout_button = document.querySelector('#checkout_button')

    // Listen for click event then redirect to checkout with relevant session ID //
    checkout_button.addEventListener('click', event => {
        stripe.redirectToCheckout({
            sessionId: '{{ session_id }}'
        }).then(function (result) {
        });
    })
</script>


{% endblock content %}

{% block scripts %}

<!-- Script to return message in Console when a document has loaded correctly -->
<script>
$(document).ready(function(){
    console.log('Page has loaded correctly')
})
</script>

{% endblock scripts %}
